In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

path = "C:/Users/Admin/Documents/ironhack/streaming_service_recommender/"

## Get imdb tv shows data frame

#### Goals

- Import imdb title basics csv

- Filter only tv show related titles

- Export final data frame

In [2]:
titles = pd.read_csv("C:/Users/Admin/Documents/ironhack/title.basics.tsv.gz", sep="\t", low_memory=False)

In [3]:
titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
titles["titleType"].value_counts()

tvEpisode       4775613
short            733938
movie            548210
video            261014
tvSeries         181973
tvMovie          120511
tvMiniSeries      30330
tvSpecial         28789
videoGame         25303
tvShort           12473
Name: titleType, dtype: int64

In [5]:
tv_all = titles.loc[np.where(titles["titleType"].isin(["tvSeries", "tvMiniSeries", "tvShort", "tvSpecial"]))].reset_index(drop=True)

In [6]:
tv_all.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

**We will change the startYear and endYear columns to numeric columns before exporting the data frame to a pickle, in order to keep the data types.**

In [7]:
tv_all["startYear"] = pd.to_numeric(tv_all["startYear"], errors="coerce")

In [8]:
tv_all["endYear"] = pd.to_numeric(tv_all["startYear"], errors="coerce")

In [9]:
# tv_all.to_pickle(path + "Data/imdb_tv_all.pkl")