In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
amazon = pd.read_pickle("amazon_ids_final.pkl")

In [3]:
amazon

,show,year,rating,imdb,rotten_tomatoes,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,titleId,ordering,title,region,language,isOriginalTitle,imdb_titles,titleType
0,The Wire,2002,18+,9.3,94%,tt0306414,The Wire,The Wire,0.0,2002.0,2002.0,59,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Sopranos,1999,18+,9.2,92%,tt0141842,The Sopranos,The Sopranos,0.0,1999.0,1999.0,55,"Crime,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Band of Brothers,2001,18+,9.4,94%,tt0185906,Band of Brothers,Band of Brothers,0.0,2001.0,2001.0,594,"Action,Drama,History",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Vikings,2013,18+,8.6,93%,tt2306299,Vikings,Vikings,0.0,2013.0,2013.0,44,"Action,Adventure,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mr. Robot,2015,18+,8.5,94%,tt4158110,Mr. Robot,Mr. Robot,0.0,2015.0,2015.0,49,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,Dermot Bannon's Luxury Homes,2018,NaN,NaN,NaN,tt10248378,Find me a luxury home,Find me a luxury home,0.0,2018.0,2018.0,\N,Reality-TV,NaN,NaN,NaN,NaN,NaN,NaN,Find me a luxury home,tvSeries
1881,Carl Transform of Car City,2016,NaN,NaN,NaN,tt7821972,Car Patrol of Car City,Car Patrol of Car City,0.0,2016.0,2016.0,5,"Animation,Family",NaN,NaN,NaN,NaN,NaN,NaN,Car Patrol of Car City,tvSeries
1882,Troy el Tren en Auto City,2016,NaN,NaN,NaN,tt7821912,Troy the Train of Car City,Troy the Train of Car City,0.0,2016.0,2016.0,5,"Animation,Family",NaN,NaN,NaN,NaN,NaN,NaN,Troy the Train of Car City,tvSeries
1883,L.A. Cops,1998,NaN,NaN,NaN,tt0161160,L.A. Doctors,L.A. Doctors,0.0,1998.0,1998.0,60,Drama,NaN,NaN,NaN,NaN,NaN,NaN,L.A. Doctors,tvSeries
1884,Equipo Constructor en Auto City,2016,NaN,NaN,NaN,tt7827000,Construction Squad of Car City,Construction Squad of Car City,0.0,2016.0,2016.0,5,"Animation,Family",NaN,NaN,NaN,NaN,NaN,NaN,Construction Squad of Car City,tvSeries

In [4]:
amazon.columns

Index(['show', 'year', 'rating', 'imdb', 'rotten_tomatoes', 'tconst',
       'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear',
       'runtimeMinutes', 'genres', 'titleId', 'ordering', 'title', 'region',
       'language', 'isOriginalTitle', 'imdb_titles', 'titleType'],
      dtype='object')

In [5]:
amazon = amazon.drop(columns=["ordering", "titleType", "imdb_titles"]).copy()

In [6]:
amazon.dtypes

show                object
year                 int64
rating              object
imdb               float64
rotten_tomatoes     object
tconst              object
primaryTitle        object
originalTitle       object
isAdult            float64
startYear          float64
endYear            float64
runtimeMinutes      object
genres              object
titleId             object
title               object
region              object
language            object
isOriginalTitle     object
dtype: object

In [7]:
amazon["tconst"] = np.where(amazon["tconst"].isna(), amazon["titleId"], amazon["tconst"])

In [8]:
amazon[amazon["tconst"].isna()]

Empty DataFrame
Columns: [show, year, rating, imdb, rotten_tomatoes, tconst, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres, titleId, title, region, language, isOriginalTitle]
Index: []

In [9]:
amazon = amazon[["show", "year", "rating", "imdb", "rotten_tomatoes", "tconst"]].copy()

In [10]:
amazon.head()

               show  year rating  imdb rotten_tomatoes     tconst
0          The Wire  2002    18+   9.3             94%  tt0306414
1      The Sopranos  1999    18+   9.2             92%  tt0141842
2  Band of Brothers  2001    18+   9.4             94%  tt0185906
3           Vikings  2013    18+   8.6             93%  tt2306299
4         Mr. Robot  2015    18+   8.5             94%  tt4158110

In [11]:
imdb = pd.read_pickle("imdb_tv_all.pkl")

In [12]:
amazon = amazon.merge(imdb, how="left", on="tconst")

In [14]:
amazon.head()

,show,year,rating,imdb,rotten_tomatoes,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,The Wire,2002,18+,9.3,94%,tt0306414,tvSeries,The Wire,The Wire,0.0,2002.0,2002.0,59,"Crime,Drama,Thriller"
1,The Sopranos,1999,18+,9.2,92%,tt0141842,tvSeries,The Sopranos,The Sopranos,0.0,1999.0,1999.0,55,"Crime,Drama"
2,Band of Brothers,2001,18+,9.4,94%,tt0185906,tvMiniSeries,Band of Brothers,Band of Brothers,0.0,2001.0,2001.0,594,"Action,Drama,History"
3,Vikings,2013,18+,8.6,93%,tt2306299,tvSeries,Vikings,Vikings,0.0,2013.0,2013.0,44,"Action,Adventure,Drama"
4,Mr. Robot,2015,18+,8.5,94%,tt4158110,tvSeries,Mr. Robot,Mr. Robot,0.0,2015.0,2015.0,49,"Crime,Drama,Thriller"

In [15]:
amazon["genres"] = amazon["genres"].astype("str")

In [16]:
def unique_genres(df):
    
    # get list of unique genres
    genres = [genre.split(",") for genre in df["genres"]]
    uniques = []

    for i in genres:
        for j in i:
            if j not in uniques:
                uniques.append(j)
    return uniques

In [17]:
uniques = unique_genres(amazon)

In [18]:
uniques

['Crime',
 'Drama',
 'Thriller',
 'Action',
 'History',
 'Adventure',
 'Comedy',
 'Mystery',
 'Sci-Fi',
 'Horror',
 'Romance',
 'Family',
 'Fantasy',
 'Talk-Show',
 'Game-Show',
 'Reality-TV',
 'Music',
 'Musical',
 'Animation',
 'War',
 'Sport',
 'Biography',
 'Documentary',
 '\\N',
 'Western',
 'Short',
 'News',
 'Adult',
 'nan']

In [19]:
uniques.remove("\\N")

In [20]:
uniques.remove("nan")

In [21]:
uniques

['Crime',
 'Drama',
 'Thriller',
 'Action',
 'History',
 'Adventure',
 'Comedy',
 'Mystery',
 'Sci-Fi',
 'Horror',
 'Romance',
 'Family',
 'Fantasy',
 'Talk-Show',
 'Game-Show',
 'Reality-TV',
 'Music',
 'Musical',
 'Animation',
 'War',
 'Sport',
 'Biography',
 'Documentary',
 'Western',
 'Short',
 'News',
 'Adult']

In [22]:
def genres(df, uniques):
    
    # create columns for each genre
    for genre in uniques:
        df[genre] = 0
    
    # place 1 if tv show has that genre
    for genre in uniques:
        df[genre] = df["genres"].str.contains(genre).astype(int)
        
    return df

In [24]:
amazon = genres(amazon, uniques).copy()

In [25]:
amazon

,show,year,rating,imdb,rotten_tomatoes,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,Crime,Drama,Thriller,Action,History,Adventure,Comedy,Mystery,Sci-Fi,Horror,Romance,Family,Fantasy,Talk-Show,Game-Show,Reality-TV,Music,Musical,Animation,War,Sport,Biography,Documentary,Western,Short,News,Adult
0,The Wire,2002,18+,9.3,94%,tt0306414,tvSeries,The Wire,The Wire,0.0,2002.0,2002.0,59,"Crime,Drama,Thriller",1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,The Sopranos,1999,18+,9.2,92%,tt0141842,tvSeries,The Sopranos,The Sopranos,0.0,1999.0,1999.0,55,"Crime,Drama",1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Band of Brothers,2001,18+,9.4,94%,tt0185906,tvMiniSeries,Band of Brothers,Band of Brothers,0.0,2001.0,2001.0,594,"Action,Drama,History",0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Vikings,2013,18+,8.6,93%,tt2306299,tvSeries,Vikings,Vikings,0.0,2013.0,2013.0,44,"Action,Adventure,Drama",0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Mr. Robot,2015,18+,8.5,94%,tt4158110,tvSeries,Mr. Robot,Mr. Robot,0.0,2015.0,2015.0,49,"Crime,Drama,Thriller",1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,Dermot Bannon's Luxury Homes,2018,NaN,NaN,NaN,tt10248378,tvSeries,Find me a luxury home,Find me a luxury home,0.0,2018.0,2018.0,\N,Reality-TV,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1881,Carl Transform of Car City,2016,NaN,NaN,NaN,tt7821972,tvSeries,Car Patrol of Car City,Car Patrol of Car City,0.0,2016.0,2016.0,5,"Animation,Family",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1882,Troy el Tren en Auto City,2016,NaN,NaN,NaN,tt7821912,tvSeries,Troy the Train of Car City,Troy the Train of Car City,0.0,2016.0,2016.0,5,"Animation,Family",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1883,L.A. Cops,1998,NaN,NaN,NaN,tt0161160,tvSeries,L.A. Doctors,L.A. Doctors,0.0,1998.0,1998.0,60,Drama,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1884,Equipo Constructor en Auto City,2016,NaN,NaN,NaN,tt7827000,tvSeries,Construction Squad of Car City,Construction Squad of Car City,0.0,2016.0,2016.0,5,"Animation,Family",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [36]:
# amazon.to_pickle("amazon_genres.pkl")

In [30]:
amazon_genres = pd.DataFrame(amazon[uniques].sum().sort_values(ascending=False))

In [31]:
amazon_genres

               0
Drama        521
Comedy       390
Documentary  353
Animation    290
Adventure    204
Family       194
Action       187
Crime        182
Reality-TV   179
History       97
Mystery       93
Fantasy       88
Romance       87
Sci-Fi        51
Thriller      47
Horror        42
Biography     34
Game-Show     30
Short         30
Sport         29
Music         25
Western       25
Talk-Show     22
War           15
News          12
Musical        7
Adult          1

In [34]:
amazon_genres["ratio"] = round((amazon_genres[0] / len(amazon)), 4)

In [35]:
amazon_genres

               0   ratio
Drama        521  0.2764
Comedy       390  0.2069
Documentary  353  0.1873
Animation    290  0.1538
Adventure    204  0.1082
Family       194  0.1029
Action       187  0.0992
Crime        182  0.0966
Reality-TV   179  0.0950
History       97  0.0515
Mystery       93  0.0493
Fantasy       88  0.0467
Romance       87  0.0462
Sci-Fi        51  0.0271
Thriller      47  0.0249
Horror        42  0.0223
Biography     34  0.0180
Game-Show     30  0.0159
Short         30  0.0159
Sport         29  0.0154
Music         25  0.0133
Western       25  0.0133
Talk-Show     22  0.0117
War           15  0.0080
News          12  0.0064
Musical        7  0.0037
Adult          1  0.0005