In [1]:
import pandas as pd
import streaming_service_recommender_v3_Copy1 as recommender

genres_recommender = pd.read_pickle("Data_Hulu_Disney/genres_recommender_v2.pkl")

url = "https://docs.google.com/spreadsheets/d/1VsL_x7WAcEm-pLNmCqNwrDlFjTR_PUDpiadyUYJM-AQ/export?format=csv&gid=1360685521"

survey_shows = pd.read_pickle("Data_Hulu_Disney/survey_shows.pkl")

# Streaming Service Recommender

This recommender will return your recommended streaming service from the following services:

- Netflix
- Amazon
- HBO
- Hulu
- Disney


## 1. Please fill out the following survey: https://forms.gle/8F5uzYwWKuYe4n1f9

## 2. Run the following cell to get your list of recommendations.

In [2]:
survey_df = pd.read_csv(url)
df, user = recommender.get_recommender_df(survey_df, survey_shows)
print(recommender.get_streaming_recommendation(genres_recommender, df, user))

Please enter your name:Ilse


Matches for Ilse
--------------------------


Your closest match is HBO with 64% genre similarity.


Your next matches are:
2. Netflix with 60% genre similarity.
3. Hulu with 59% genre similarity.
4. Amazon with 58% genre similarity.
5. Disney with 48% genre similarity.

In [3]:
df

genre,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
user,,,,,,,,,,,,,,,,,,,,,
User,0.0417,0.2083,0.0833,0.0,0.5833,0.3333,0.0833,0.6667,0.0417,0.1667,...,0.0,0.0,0.0833,0.1667,0.0417,0.0,0.0,0.25,0.0,0.0

In [4]:
df

genre,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
user,,,,,,,,,,,,,,,,,,,,,
User,0.0417,0.2083,0.0833,0.0,0.5833,0.3333,0.0833,0.6667,0.0417,0.1667,...,0.0,0.0,0.0833,0.1667,0.0417,0.0,0.0,0.25,0.0,0.0

In [5]:
survey_df = pd.read_csv(url)
df, user = recommender.get_recommender_df(survey_df, survey_shows)
print(recommender.get_streaming_recommendation(genres_recommender, df, user))

Please enter your name:Ilse2


Matches for Ilse2
--------------------------


Your closest match is HBO with 67% genre similarity.


Your next matches are:
2. Netflix with 63% genre similarity.
3. Hulu with 63% genre similarity.
4. Amazon with 61% genre similarity.
5. Disney with 50% genre similarity.